@import "common.scss";

.cuisine-list{
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 0.02rem;

        li{
            flex-basis: 49.9%;
            width: 100%;
            height: 3.5rem;
            margin-bottom: 0.02rem;

            a{
                display: block;
                width: 100%;
                height: 100%;
                background-size: cover;
                padding-top: 1.5rem;

                p{
                    text-align: center;
                    color: #ffffff;
                }
    
                p:first-child{
                    font-size: 0.15rem;
                    font-family: "Times New Roman";
                    font-style: italic;
                }
    
                p:last-child{
                    font-size: 0.36rem;
                    font-weight: bold;
                }
            }
        }

        @for $i from 1 through 10{
            li:nth-child(#{$i}){
                a{
                    background-image: url("../images/cuisine_"+ $i + ".png");
                }
            }
        }
    }
}